<!DOCTYPE html>
<html>
    <head>
        <!-- Jinja2 directive for css stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <!-- Jinja2 placeholders for question number and text to be inserted -->
        <h1>Question {{ number }}</h1>
        <p>{{ text }}</p>

        <ul>
            <!-- Jinja2 for loop to iterate over list of answers
            Also adds number for each <a> tag and create placeholder for answer text -->
            {% for answer in answers %}
            <li><a href="/quiz/?answer={{loop.index}}">{{ answer }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>